.common {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.negative {
  background-color: red;
  color: white;
}

.action {
  border: 2px solid gray;
  background-color: white;
  color: gray;
}

.default {
  background-color: gray;
  color: white;
}

.common:hover {
  filter: brightness(0.85);
}

.common:active {
  filter: brightness(0.6);
}
