.wrapper {
  width: 100%;
  height: 100%;
  border: 2px dashed rgb(71, 139, 71);
  background-color: white;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
}

.stepBody {
  flex: 1;
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}