.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.wrapper > label {
  font-size: 1rem;
  color: black;
}

.wrapper > select {
  border-radius: .25rem;
  padding: 0.5rem 1rem;
  border: 2px solid gray;
  font-size: 1rem;
  color: black;
}

.wrapper>span {
  color: red;
  font-size: 1.25rem;
}