.lw-app {
  background-color: rgb(223, 255, 223);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lw-app > div {
  width: 75%;
  margin: 1rem;
}